@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,500&display=swap');

$main_font: 'Roboto', sans-serif;
$body_font: 'Open Sans', sans-serif;
$pink: #FF43F9;
$blue: #00C2AE;
$grey: #B3B3B3;
$left_margin: 5%;

body{
    background-color: #1A1A1A;
    margin: 0;
    overflow-x: hidden;
    
    //Navigation 
    nav{
	    text-decoration: none;
		width:100vw!important;
        z-index:90; 
        position:fixed;
        top: 0;
		text-align: right;
        font-family: $main_font;
        background: #1a1a1a;
        display: block;

        //Mobile navigation
        .mobileNav {
            overflow: hidden;
            background-color: #1a1a1a;
            position: relative;
            display: none;
    
            #myLinks {
                display: none;
            }
            a {
                color: $grey;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 15px;
                display: block;
                font-family: $main_font;
    
                .icon {
                    background: black;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .active {
                    color: $pink;
                }
            } 
        } 
        
        //Desktop navigation
        .navList{
            display: inline-block;
        }
        .navItem{
            display: inline-block!important;
            font-size: 23px!important;
            font-family: $main_font;
            font-weight: 300!important;
        }
        a{
            text-decoration: none;
            color: $grey;
            font-size: 23px!important;
            font-weight: 300!important;
            
            :link{
                text-decoration: none;
                color: $grey;
                font-size: 23px!important;
                font-weight: 300!important;
            }
            :visited{
                color: $blue;
            }
        }
        .navItem{
            color: $grey;
            margin: 30px;
        }
        .dropbtn{
            color: $grey;
            margin: 30px;
            background-color: #1A1A1A;
            border: none;
            font-family: $main_font;
            font-size: 23px;
            font-weight: 300;
        }
        .dropbtn:hover, .dropbtn:focus {
            background-color: #1a1a1a;
            cursor: pointer;
        }
        .dropdown{
            position: relative;
            display: inline-block;
        }
        .dropdown-content{
            display: none;
            position: absolute;
            min-width: 160px;
            overflow: auto;
            z-index: 1;
            text-align: left;
            background-color: #1a1a1a;
    
            a{
                color: $pink;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                font-size: 18px!important;
    
                :hover{
                    background-color: rgb(63, 63, 63);
                }
            }
        }
    }  
    .show{
        display: block!important;
    }

    //HOMEPAGE

    //Heading
    .openingTxt{
        margin-left: $left_margin;
        width: 80%;
        margin-top: 12%;

        .hello{
            font-size: 85px;
            color: $grey;
            font-family: $main_font;
            font-weight: 200;
            text-align: left;
    
            .pinkTxt{
                color: $pink!important;
            }
            .blueTxt{
                color: $blue!important;
            }
        }
    }

    //Images
    #homeWebWork, #homeUiWork, #homeGraphicWork{
        height: 300px;
        margin-top: 5%;
    }
    #webConfettiDesigns, #uiMusicApp, #graphicPoster{
        width: 100%;
    }

    //Skills section
    .thirdHeading{
        font-size: 40px;
        font-family: $main_font;
        font-weight: 200;
        color: $grey;
        margin-top: 8%;
        margin-left: $left_margin;

        .pinkTxt{
            color: $pink!important;
        }
        .blueTxt{
            color: $blue!important;

            a{
                text-decoration: none!important;
                color: $blue!important;
            }
        }
        
    }
    .skillsContainer{
        width: 87vw;
        margin-left: $left_margin;
    }
    .skillbar {
        position: relative;
        display: block;
        margin-bottom: 15px;
        width: 100%;
        background: rgb(51, 51, 51);
        height: 35px;
        border-radius: 3px;
        transition: 0.4s linear;

        .skillbar-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 210px;
            font-weight: 200;
            font-family: $body_font;
            font-size: 15px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;

            span {
                display: block;
                background: rgba(0, 0, 0, 0.1);
                padding: 0 20px;
                height: 35px;
                line-height: 35px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
    }
    .skillbar-bar {
        height: 35px;
        width: 0px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    .skill-bar-percent {
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 11px;
        height: 35px;
        line-height: 35px;
        color: #B3B3B3;
    }

    //Footer
    footer{
        width: 100vw;
        background-color: $pink;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 5%;

        .socialIcons{
            text-align: center;

            .fab{
                font-size: 35px;
                color: #1A1A1A;
                text-align: center;
                margin-left: 1%;
                margin-right: 1%;
            }
        }
    }

    //CONTACT PAGE
    //Heading
    .scndHeading{
        font-size: 65px;
        font-family: $main_font;
        font-weight: 200;
        color: $grey;
        margin-top: 10%;
        margin-left: $left_margin;

        .pinkTxt{
            color: $pink!important;
        }
        .blueTxt{
            color: $blue!important;
        }
    }

    //Copy
    .contactTxt{
        margin-left: $left_margin;
        width: 60vw;

        .copy{
            font-family: $body_font;
            font-size: 20px;
            color: $grey;
        }
    }

    .thankYou{
        font-family: $body_font;
        font-size: 25px;
        color: $pink;
        margin-bottom: 25%;
    }

    //Contact form
    #section1{
        margin-left: $left_margin;

        input, textarea{
            margin-top: 1%;
            border-radius: 6px 6px 6px 6px;
            border-color: $pink;
            padding: 0.5rem;
            font-size: 18px;
            font-family: $body_font;
            width: 30%;
            background-color: #1a1a1a;
        }
        textarea{
            width: 50%;
            margin-bottom: 1%;
        }
        input[type=submit]{
            background-color: $pink!important;
        }
    }

    //ABOUT PAGE
    //Copy
    #aboutMeTxt{
        font-family: $body_font;
        font-size: 20px;
        color: $grey;
    }
    //Image
    #aboutImg{
        width: 80%;
        margin-left: 10%;
        box-shadow: 15px 15px 1px $blue;
    }

    //WEB DESIGNS PAGE
    //Images
    #webProjectOne, #webProjectTwo , #webProjectThree , #webProjectFour{
        height: 500px;

        #webConfettiDesigns, #webDowncast, #webDefPrints, #webCeleste{
            width: 100%;
        }
    } 

    //UI DESIGNS PAGE
    //Images
    #uiProjectOne, #uiProjectTwo , #uiProjectThree , #uiProjectFour, #uiProjectFive{
        height: 500px;

        #uiLogin, #uiMusic, #uiProfile, #uiShopping, #uiJuice{
            width: 100%;
        }
    } 

    //GRAPHIC DESIGNS PAGE
    //Images
    #graphicProjectOne, #graphicProjectTwo , #graphicProjectThree , #graphicProjectFour{
        height: 500px;

        #graphicBook, #graphicPoster, #graphicEbook, #graphicMagazine{
            width: 100%;
        }
    } 

    //MOBILE LAYOUT
    @media screen and (max-width: 768px){

        //Navigation
        nav{
            text-align: left!important ;
        }
        .mobileNav{
            display: block!important;
            padding-left: 1rem;
            padding-bottom: 1rem;
        }
        .navList{
            display: none!important;
        }
        #burger{
            position: absolute;
            top: 0;
            margin-top: 10px;
            z-index: 80;
            color: $grey;
        }
        #myLinks{
            margin-top: 10%;
        }

        //HOMEPAGE
        //Headings
        .scndHeading{
            font-size: 35px;
            margin-top: 20%;
            margin-left: 10%;
        }
        .openingTxt .hello{
            font-size: 45px;
            margin-top: 30%;
        }

        //Images
        #homeWebWork, #homeUiWork, #homeGraphicwork{
            height: 10%!important;
        }

        //Skill bars
        .skillbar-title{
            width: 90px!important;
            font-size: 10px!important;

            span{
                margin-left: -9%;
            }
        }

        //Images
        #homeWork{
            margin-bottom: -40%;
        }

        //ABOUT ME PAGE
        //Headings
        .thirdHeading{
            font-size: 20px;
        }

        //Copy
        #aboutMeTxt{
            padding-left: 9%;
            font-size: 13px;
            padding-right: 5%;
            padding-bottom: 10%;
        }

        //Image
        #aboutImg{
            width: 75%!important;
            margin-bottom: 5%;
        }

        //CONTACT PAGE
        //Copy
        .copy{
            padding-left: 9%;
            font-size: 13px!important;
            padding-right: 5%;
        }

        .thankYou{
            font-size: 13px!important;
            margin-bottom: 80%;
        }
        //Contact form
        #section1{
            margin-left: 9%!important;

            input, textarea{
                width: 60%!important;
                font-size: 15px!important;
                margin-top: 5%!important;
            }
            textarea{
                width: 80%!important;
            }
            input[type=submit]{
                margin-bottom: 20%;
            }
        }

        //DESIGNS PAGES
        //Images
        #webProjectOne, #webProjectTwo , #webProjectThree , #webProjectFour,
        #uiProjectOne, #uiProjectTwo , #uiProjectThree , #uiProjectFour, #uiProjectFive,
        #graphicProjectOne, #graphicProjectTwo , #graphicProjectThree , #graphicProjectFour{
            height: 100%!important;
        }

    }
}