@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,500&display=swap');

$main_font: 'Roboto', sans-serif;
$body_font: 'Open Sans', sans-serif;
$pink: #FF43F9;
$blue: #00C2AE;
$grey: #B3B3B3;
$left_margin: 5%;

body{
    background-color: #1A1A1A;
    margin: 0;
    
    /*navigation*/
    nav{
	    text-decoration: none;
		width:100vw!important;
        z-index:90; 
        position:fixed;
        top: 0;
		text-align: right;
        font-family: $main_font;
        background: #1a1a1a;
  	}
	.navList{
		display: inline-block;
	}
	.navItem{
		display: inline-block!important;
		font-size: 23px!important;
		font-family: $main_font;
		font-weight: 300!important;
	}
	a{
		text-decoration: none;
		color: $grey;
		font-size: 23px!important;
        font-weight: 300!important;
        
        :link{
            text-decoration: none;
            color: $grey;
            font-size: 23px!important;
            font-weight: 300!important;
        }
        :visited{
            color: $blue;
        }
	}
	.navItem{
		color: $grey;
		margin: 30px;
    }
    /*heading*/
    .openingTxt{
        margin-left: $left_margin;
        width: 80%;
        margin-top: 12%;

        .hello{
            font-size: 85px;
            color: $grey;
            font-family: $main_font;
            font-weight: 200;
            text-align: left;
    
            .pinkTxt{
                color: $pink!important;
            }
            .blueTxt{
                color: $blue!important;
            }
        }
    }
    #homeWebWork, #homeUiWork, #homeGraphicWork{
        height: 200px;
    }
    #homeWebWork{
        background-image: url("images/web-development-celeste.png");
        background-size: cover;                    
    }
    #homeUiWork{
        background-image: url("images/ui-design-music-app.png");
        background-size: cover;                    
    }
    #homeGraphicWork{
        background-image: url("images/graphic-design-ebook.png");
        background-size: cover;                    
    }

    /*CONTACT PAGE*/
    .scndHeading{
        font-size: 65px;
        font-family: $main_font;
        font-weight: 200;
        color: $grey;
        margin-top: 8%;
        margin-left: $left_margin;

        .pinkTxt{
            color: $pink!important;
        }
        .blueTxt{
            color: $blue!important;
        }
    }

    .contactTxt{
        margin-left: $left_margin;
        width: 60vw;

        .copy{
            font-family: $body_font;
            font-size: 20px;
            color: $grey;
        }
    }

    #section1{
        margin-left: $left_margin;

        input, textarea{
            margin-top: 1%;
            border-radius: 6px 6px 6px 6px;
            border-color: $pink;
            padding: 0.5rem;
            font-size: 18px;
            font-family: $body_font;
            width: 30%;
            background-color: #1a1a1a;
        }
        textarea{
            width: 50%;
        }
        input[type=submit]{
            background-color: $pink!important;
        }
    }
}